@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body { 
  min-height: 100vh;
  background: #171717;
  overflow:hidden;
}
h1 {
  text-align: center;
  top: 100px;
  font-family: 'Poppins';
  font-size: 100px;
  color: #aba0a0;
}

.navbar {
  background-color:#212121;
  width:80%;
  height:50px;
  margin:auto;
  align-items:center;
  justify-content:center;
  display:flex;
}
#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index:-1;
  background: inherit;
}
.button-40 {
  margin:auto;
}
.nav-option {
  vertical-align:middle;
  float:left;
  font-size:20px;
  font-family:'Poppins';
  text-decoration: none;
  color:white;
  margin-right:50px;
}
i{
  margin-right:5px;
}

.button-40 {
  background-color: #111827;
  border: 1px solid transparent;
  border-radius: .75rem;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  flex: 0 0 auto;
  font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.5rem;
  padding: .75rem 1.2rem;
  text-align: center;
  text-decoration: none #6B7280 solid;
  text-decoration-thickness: auto;
  transition-duration: .2s;
  transition-property: background-color,border-color,color,fill,stroke;
  transition-timing-function: cubic-bezier(.4, 0, 0.2, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
}

.button-40:hover {
  background-color: #374151;
}

.button-40:focus {
  box-shadow: none;
  outline: 2px solid transparent;
  outline-offset: 2px;
}

@media (min-width: 768px) {
  .button-40 {
    padding: .75rem 1.5rem;
  }
}